<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Name book</th>
      <th>Author name</th>
      <th>Date created</th>
      <th>Editorial</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name_book %></td>
        <td><%= book.author_name %></td>
        <td><%= book.date_created %></td>
        <td><%= book.editorial %></td>
        <td><%= book.price %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1><%= link_to 'New Book', new_book_path %></h1>

