<p id="notice"><%= notice %></p>


  <p>
  <strong>Name book:</strong>
  <%= @book.name_book %>
  </p>

  <p>
  <strong>Author name:</strong>
  <%= @book.author_name %>
  </p>

  <p>
  <strong>Date created:</strong>
  <%= @book.date_created %>
  </p>

  <p>
  <strong>Editorial:</strong>
  <%= @book.editorial %>
  </p>

  <p>
  <strong>Price:</strong>
  <%= @book.price %>
  </p>

<h1><%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %></h1>

